# Python
__pycache__/
*.pyc
.venv/
.env
*.db

# Flutter / Dart
frontend/.dart_tool/
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies

# IDE / OS
.vscode/
.idea/
.DS_Store

#media
backend/original_photos/
backend/original_story_photos/
backend/compressed_photos/
backend/compressed_story_photos/

count_lines.sh
agu-upload-key-backup.7z
